form {
  position: relative;
}

.FormInput {
  display: block;
  margin: 10px auto;
  width: 50%;
  resize: none;
  font-family: inherit;
  outline: none;
  border: 1px solid lightgray;
  position: relative;
}

.FormInput:focus{
  background-color: lightgray;
  border: 1px solid lightgray;
}

.Invalid{
  background-color: rgb(248, 174, 174);
  border: 1px solid rgb(248, 174, 174);
  
}

.ErrorMessageForm{
  font-size: 10px;
  background-color: white;
  width: 50%;
  margin: -8px auto 0 auto;
}