.Button{
  padding: 8px 16px;
  color:white;
  margin: 5px auto;
  display:table;
  border-radius: 8px;
  transform-origin: 100% 100%;
}

.Success{
  background-color: #3E7E3F;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍔</text></svg>") 16 16, auto;

}

.Danger{
  background-color: #651611; 
  font-weight: lighter;
  font-size: smaller;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👈</text></svg>") 16 16, auto;
  transform-origin: 100% 100%;


}
