.Button{
  padding: 8px 16px;
  color:white;
  margin: 5px auto;
  display:table;
  border-radius: 8px;
  transform-origin: 100% 100%;
  cursor: pointer;
}

.Success{
  background-color: #3E7E3F;
}

.Danger{
  background-color: #651611; 
  font-weight: lighter;
  font-size: smaller;
  transform-origin: 100% 100%;


}
